<div class="row"> 
  <div class="col-sm-3 col-xs-12"></div>
  <div class="col-sm-6 col-xs-12">

      <mat-card class="example-card col-lg-12">
              <div class="row">
                  <div class="mat-card-title text-center">
                       ADD Patients               
              </div>
          </div>
          <mat-card-content>
              <div class="row">
                  <div class="col-sm-4 col-xs-4">
                      <label>Patients Name</label>
                  </div>
                  <div class="col-sm-8 col-xs-8">
                      <input class="textbox" type="text" placeholder="" [(ngModel)]="first_name">
                  </div>
              </div>
                          
              <div class="row">
                  <div class="col-sm-4 col-xs-4">
                      <label>Patients Email</label>
                  </div>
                  <div class="col-sm-8 col-xs-8">
                      <input class="textbox" type="text" placeholder="" [(ngModel)]="email">
                  </div>
              </div>
          </mat-card-content>

          <mat-card-actions class="button-set">
              <button mat-button (click)="send()">
                  <span *ngIf="sendButton">Send</span>
                  <span *ngIf="!sendButton">Sending...</span>
              </button>
              <button mat-button>Cancel</button>
          </mat-card-actions>
          <mat-card-content>
              If you want to send invitation to a <span style="font-weight:700;">few</span> Patients 
              <a href="#">click here</a>
          </mat-card-content>
      </mat-card>
  </div>  
  <div class="col-sm-3 col-xs-12"></div>
</div>       

   
    