
<h1 class="title">Welcome Patients</h1>
<img src="/assets/image/logo2.jpg" class="nav_image"/>
<span>
        At Content Doctor we specialise in two things: high quality healthcare content and building your sales funnel via state of the art digital marketing.  When these two things marry, we have a system that enables healthcare businesses to further build brand recognition, optimise relationships with existing clients and most importantly engage new clients.
</span>
<span>
        At Content Doctor we specialise in two things: high quality healthcare content and building your sales funnel via state of the art digital marketing.  When these two things marry, we have a system that enables healthcare businesses to further build brand recognition, optimise relationships with existing clients and most importantly engage new clients.
</span>
<span>
        At Content Doctor we specialise in two things: high quality healthcare content and building your sales funnel via state of the art digital marketing.  When these two things marry, we have a system that enables healthcare businesses to further build brand recognition, optimise relationships with existing clients and most importantly engage new clients.
</span>